@font-face {
  font-family: 'MiSans';
  font-display: fallback;
  src: url('/src/assets/font/MiSans-Regular.ttf');
}
@font-face {
  font-family: 'Ubu';
  font-display: fallback;
  src: url('/src/assets/font/Ubuntu-Regular.ttf');
}
.font-Mi {
  font-family: 'MiSans';
}
.font-Ubu {
  font-family: 'Ubu';
}